.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100vw;
  margin-top: 10px;
}
.f_left {
  display: grid;
  place-content: center;
  width: 25vw;
}
.f_left > img {
  width: 200px;
  height: 100%;
}

.f_main {
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 380px;
  overflow: hidden;
}
.fm_soc {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.fm_soc > img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 380px;
}

.f_social {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.f_links {
  width: 100%;
  height: 100%;
  background-color: #ff02a9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f_links > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-evenly;
  background-color: #ff02a9;
}

.f_link {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 20vw;
  font-size: small;
  color: #fff8fd;
  height: 1005;
}
.f_link h2 {
  color: #fff8fd;
  font-size: larger;
  font-family: "Poppins-bold";
  margin-bottom: 20px;
}
.f_link a {
  color: #fff8fd;
  text-decoration: none;
}
.f_link span {
  color: rgba(0, 0, 0, 0.458);
  font-weight: bold;
}
.f_link h6 {
  color: rgba(53, 53, 53, 0.401);
  font-size: small;
  font-weight: bold;
}
.f_link div {
  font-size: small;
  background-color: #fff8fd7f;
  border-radius: 10px;
  color: #fd00a7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 10px;
  cursor: pointer;
  gap: 5px;
}
.f_links img {
  width: 20px;
  background-color: #fff8fd6f;
  border-radius: 50%;
  padding: 3px;
  box-shadow: 0 3px 20px #6a004c2c;
}
.f_link > div > p {
  font-size: smaller;
  color: #fff8fda3;
}

@media (max-width: 700px) {
  .Footer {
    flex-direction: column;
    width: 100vw;
    align-items: center;
    position: relative;
  }
  .Footer > img {
    position: absolute;
    top: -50px;
    z-index: -1;
    width: 100%;
  }
  .f_left img {
    width: 150px;
    height: auto;
    margin-bottom: -20px;
  }
  .f_main {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
  }
  .fm_soc {
    display: flex;
    width: 100%;
  }
  .fm_soc > img {
    width: 100vw;
    height: auto;
  }
  .f_social {
    flex-direction: row;
    width: 90%;
  }
  .f_links {
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .f_links > div {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    max-width: 100vw;
    gap: 50px;
  }
  .f_link {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
    gap: 5px;
  }
  .f_link > div {
    margin: 10px auto;
  }
  .f_link h2 {
    margin: 0;
  }
}
