.Nav {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: auto;
}
.Nav > img {
  width: 40px;
  height: 40px;
}
.Nav > img:last-of-type {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.Nav > div {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: small;
}

.Nav a {
  text-decoration: none;
  color: lightgray;
}

.mNav {
  z-index: 5;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff8fd;
}
.mNav img {
  margin-right: 20px;
  cursor: pointer;
}
.mNav div {
  display: flex;
  flex-direction: column;
  font-family: "Poppins-bold";
}
.n_tab {
  width: 100vw;
  box-shadow: 0 10px 30px #ffbfe943;
  position: absolute;
  top: 0;
  left: 0;
}
.n_tab a {
  text-decoration: none;
  color: #57003972;
  font-weight: bolder;
  font-size: 24px;
}
#n_tab0 {
  border-bottom-left-radius: 700px;
  height: 40% !important;
  top: -20% !important;
  left: -10%;
  width: 120%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 20%;
  padding-right: 20%;
  background-color: #ffdef6b9;
  z-index: 7;
}
#n_tab1 {
  border-bottom-left-radius: 1000px;
  height: 35% !important;
  align-items: center;
  justify-content: end;
  padding-bottom: 17%;
  z-index: 6;
}
#n_tab2 {
  border-bottom-left-radius: 1000px;
  height: 55% !important;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 27%;
  z-index: 5;
}
#n_tab3 {
  border-bottom-left-radius: 1000px;
  height: 75% !important;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 30%;
  z-index: 4;
}
#n_tab4 {
  border-bottom-left-radius: 1000px;
  height: 95% !important;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 30%;
  z-index: 3;
}
